.node{
    border: solid black 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}
.nodeRow{

    height: 52px;
}
.trill{
    display: flex;
    flex-direction: column;
}
.butt{
    width: 60px;
    height: 30px;
}